@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700|Roboto:400,500&display=swap');

// Variables
// Colours
$font-colour: #3D3D3D;
$font-colour-light: #707070;
$accent-blue: #4081E2;

$red: #FF4A53;
$dark: #333;

// Tab Config
$tab-count: 3;
$indicator-width: 5rem;
$indicator-height: 0.4rem;

// Selectors relative to radio inputs
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

// Mixing
@mixin tabs (
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }
      #{$slider-selector} { transform: translateX(#{100% * ($i - 1)}); }
      #{$content-selector}:nth-child(#{$i}) { display: block; }
    }
  }
}

// Breakpoints
$breakpoints: (
  medium: #{$tab-count*250px},
  small: #{$tab-count*150px}
);

body {
  color: $font-colour;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.container-nav {
  input[name="tab-control"] {
    display: none;
    @include tabs {
      > label {
        cursor: default;
        color: $accent-blue;
        @media (max-width: map-get($breakpoints, small)) { background: rgba(0, 0, 0, 0.08); }
      }
    }
  }
  > .row { justify-content: center; }
  ul {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 1rem;
    padding-left: 0;
    li {
      align-items: center;
      box-sizing: border-box;
      display: center;
      flex: 1;
      padding: 0 1rem;
      text-align: center;
      width: #{100% / $tab-count};
    }
    li label {
      align-items: center;
      display: flex;
      font-size: 2rem;
      justify-content: center;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 0.3s ease-in-out;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;
        -webkit-touch-callout: none;
      &:hover,
      &:focus,
      &:active {
        color: $font-colour-light;
        cursor: pointer;
        outline: 0;
      }
      br { display: none; }
      img {
        margin-right: 1rem;
        width: 4rem;
      }
    }
  }
  .slider {
    position: relative;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    width: #{100% / $tab-count};
    .indicator {
      background: $accent-blue;
      border-radius: 0.1rem;
      height: $indicator-height;
      margin: 0 auto;
      max-width: 100%;
      position: relative;
      width: $indicator-width;
    }
  }
  .content {
    margin-top: 30px;
    section {
      display: none;
      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;
      h2 {
        color: $accent-blue;
        display: none;
        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent-blue;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }
  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
